body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    width: 50vw;
    font-size: 4rem;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em #b03e0f;
 
    color: #fffbfe;
    background-color: #03492f;
    padding: 15px;
    border-radius: 15px 0 45px 0;
    text-shadow: 10px #fffbfe;
    text-align: center;
}

h1:hover{
    background-color: #b03e0f;
    transform: scale(1.1)
}

h2{
    width: 50vw;
    font-size: 3rem;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em #03492f;
    color: #fffbfe;
    
    background-color: #b03e0f;
    border-radius: 15px 0 45px 0;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

h2:hover{
    background-color: #03492f;
    transform: scale(1.1)
}