body{

}

h1{
    font-size: 4rem;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em #b03e0f;
    display: inline-block;
    color: #fffbfe;
    background-color: #03492f;
    padding: 15px;
    border-radius: 15px 0 15px 30px;
    text-shadow: 10px #fffbfe;
    
}

h1:hover{
    background-color: #b03e0f;
    transform: scale(1.2)
}

h2{
    font-size: 3rem;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em #03492f;
    color: #fffbfe;
    display: inline-block;
    background-color: #b03e0f;
    border-radius: 15px 0 15px 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px;
}

h2:hover{
    background-color: #03492f;
    transform: scale(1.2)
}